.peekaboo-ref {
  text-decoration: underline;
  cursor: pointer;
}

.peekaboo-note {
    display: block;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-animation: highlight 1s linear 0s forwards;
    animation-name: highlight;
    animation-delay: 0s;
    animation-duration: 1s;
/*    animation: highlight 1s linear 0s forwards;*/
}

@-webkit-keyframes highlight {
  0% {
    border-color: #d88e44;
    background-color: #cccccc;
  }
  100% {
    border-color: #cccccc;
    background-color: #ffffff;
  }
}

@keyframes highlight {
  0% {
    border-color: #d88e44;
    background-color: #cccccc;
  }
  100% {
    border-color: #cccccc;
    background-color: #ffffff;
  }
}

.shuttered {
    display: none;
}


