<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>What Appears at the Top of the Browser Window</title>
    <meta name="author" content="Your Name Here">

    <link rel="stylesheet" href="template.css">

  </head>
  
  <body>
   
    <div id="content">
     
      <div id="header">
        <h3>NESW Workshop</h3>
        <h3>Telling Science Stories with Code and Data</h3>   
      </div>
      
      <h2>Your Catchy Headline Here</h2>
      
      <p>Text. Go ahead, write some more. It does’t cost anything. (Yeah, I know, it doesn’t pay anything either.)</p>      
      
      <div id="the-viz">
        <canvas id="the-canvas" width="500px" height="500px">Oops. Looks like your browser doesn't support the HTML 'canvas' element. Please try again with a newer browser.</canvas>
        <button id="the-button">Go!</button>
      </div>

      <p>Maybe this would be a good place to explain what’s going on in the visalization above.</p>      

      </div>  <!-- end of content div-->
        
    <script src="template.js"></script>
  </body>
</html>